{% extends "base.html" %}
{% block pagetitle%}
Users
{%endblock%}
{%block button %}

<button id="myButton" type="submit" class="btn btn-primary btn-sm">
    <i class="bx bx-plus-medical"></i>
    Add User
</button>

<script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = "{% url 'accounts:pages:users:create_user' %}";
    };
</script>
{%endblock%}
{% block body %}
              <table class="table datatable">
                <thead>
                  <tr>
                    <th>
                      Email
                    </th>
                    <th>Full Name</th>
                    <th>Role</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                    {% for user in user_list %}    
                  <tr>
                    <td>{{user.user.email}}</td>
                    <td>{{user.fullname}}</td>
                    <td>{{user.user.role}}</td>
                    <td><form>
                        <a href="{% url 'accounts:pages:users:profile_redirect' user.id %}" class="btn btn-primary btn-sm"><i class="bi bi-eye"></i> View Profile</a>
                        {% if user.user.is_blocked %}
            <!-- If user is blocked, show "Unblock" button -->
            <a href="{% url 'accounts:pages:users:user_unblock_device' user.user.id %}" class="btn btn-sm btn-success">
                <i class="fa fa-check"></i>&nbsp;Unblock
            </a>
        {% else %}
            <!-- If user is not blocked, show "Block" button -->
            <a href="{% url 'accounts:pages:users:user_block_device' user.user.id %}" class="btn btn-sm btn-danger">
                <i class="fa fa-ban"></i>&nbsp;Block
            </a>
        {% endif %}
                    </form></td>
                    
                  </tr>
                  {% endfor %}
                  
                </tbody>
              </table>

{%endblock%}