{% extends "base.html" %}
{% block pagetitle%}
User Team
{%endblock%}

{%block button %}

<button id="myButton" type="submit" class="btn btn-primary btn-sm">
    <i class="bx bx-plus-medical"></i>
    Create User Team
</button>

<script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = "{% url 'players:userteam_create' %}";
    };
</script>
{%endblock%}
{% block body %}

              <table class="table datatable">
                <thead>
                  <tr>
                    <th>
                      Name
                    </th>
                    <th>Player 1</th>
                    <th>Player 2</th>
                    <th>Player 3</th>
                    <th>Player 4</th>
                    <th>Player 5</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                    {% for userteam in userteam_list %}
                    
                    
                  <tr>
                    <td>{{userteam.user}}</td>
                    <td>{{userteam.player1}}</td>
                    <td>{{userteam.player2}}</td>
                    <td>{{userteam.player3}}</td>
                    <td>{{userteam.player4}}</td>
                    <td>{{userteam.player5}}</td>
                    <td><form>
                      <a href="{% url 'players:userteam_delete' userteam.pk %}" class="btn btn-sm btn-danger" onclick="return confirmStatusChange()">
                        <i
                        class="fa fa-trash"></i>
                    &nbsp; Delete</a>
                        </a>
                       
                      <a href="{% url 'players:userteam_update' userteam.pk %}" class="btn btn-sm btn-primary"">
                        <i
                        class="fa fa-trash"></i>
                    &nbsp; Update</a>
                        </a>
                      
                    </form></td>
                    
                  </tr>
                  {% endfor %}
                  
                </tbody>
              </table>
              <script>
                function confirmStatusChange() {
                  if (confirm('Are you sure you want to Delete?.Once done cannot be reverted.')) {
                      return true;  // Proceed with the link
                  }
                  return false;  // Cancel the link
              }
            </script>
{%endblock%}