{%load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %}{%endblock%}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'dashboard/img/logo.png' %}" rel="icon">
  <link href="{% static 'dashboard/img/logo.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'dashboard/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'dashboard/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'dashboard/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'dashboard/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'dashboard/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'dashboard/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'dashboard/vendor/simple-datatables/style.css' %}" rel="stylesheet">


  <!-- Template Main CSS File -->
  <link href="{% static 'dashboard/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'dashboard/css/invoice.css' %}" rel="stylesheet">

<style>
    /* Your regular styles here */

    @media print {
        #header {
            visibility: hidden;
        }
        #hide {
          visibility: hidden;
      }
        
    }
</style>


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="{% static 'dashboard/img/logo.png' %}" alt="">
        <span class="d-none d-lg-block">FFL</span>
      </a>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
  
          <li class="nav-item d-block d-lg-none">
            <a class="nav-link nav-icon search-bar-toggle " href="#">
              <i class="bi bi-search"></i>
            </a>
          </li><!-- End Search Icon-->
  
  
            {% comment %} <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown"> {% endcomment %}
                {% comment %} <button class="btn btn-danger btn-sm"><i class="bx   bx-plus-medical "></i> Button</button> {% endcomment %}
                <li class="nav-item dropdown">

                  <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                      <button class="btn btn-sm" id="home" style="background-color:#4153F1; color:white;"><i class="bx   bx-home "></i> Home</button>
                      <script type="text/javascript">
                        document.getElementById("home").onclick = function () {
                           location.href = "/";
                        };
                    </script>
                   </a><!-- End Notification Icon -->
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                         <button class="btn btn-sm"  style="background-color:#4153F1; color:white;">About Us</button>
                      </a><!-- End Notification Icon -->
                     </li>
                     

                     {% if not user.is_authenticated %}
                     <li class="nav-item dropdown">
                   <a class="nav-link nav-icon" href="{% url 'accounts:login' %}" data-bs-toggle="dropdown">
                      <button class="btn btn-sm" id="login" style="background-color:#4153F1; color:white;"><i class="bx   bx-lock "></i> Login</button>
                      <script type="text/javascript">
                          document.getElementById("login").onclick = function () {
                              location.href = "{% url 'accounts:login' %}";
                          };
                      </script>
                   </a><!-- End Notification Icon -->
                  </li>
                  {%else %}
                  <li class="nav-item dropdown">
                    <a class="nav-link nav-icon" href="{% url 'users:list' %}" data-bs-toggle="dropdown">
                       <button class="btn btn-sm" id="team" style="background-color:#4153F1; color:white;"><i class="bx   bx-lock "></i> Team</button>
                       <script type="text/javascript">
                           document.getElementById("team").onclick = function () {
                               location.href = "{% url 'users:list' %}";
                           };
                       </script>
                    </a><!-- End Notification Icon -->
                   </li>
                   <li class="nav-item dropdown">
                    <a class="nav-link nav-icon" href="{% url 'users:profile_redirect' %}" data-bs-toggle="dropdown">
                       <button class="btn btn-sm" id="profile" style="background-color:#4153F1; color:white;"><i class="bx   bx-lock "></i> Profile</button>
                       <script type="text/javascript">
                           document.getElementById("profile").onclick = function () {
                               location.href = "{% url 'users:profile_redirect' %}";
                           };
                       </script>
                    </a><!-- End Notification Icon -->
                   </li>
                   <li class="nav-item dropdown">
                    <a class="nav-link nav-icon" href="{% url 'users:profile_redirect' %}" data-bs-toggle="dropdown">
                       <button class="btn btn-sm" id="logout" style="background-color:#4153F1; color:white;"><i class="bx   bx-lock "></i> Logout</button>
                       <script type="text/javascript">
                           document.getElementById("logout").onclick = function () {
                               location.href = "{% url 'accounts:logout' %}";
                           };
                       </script>
                    </a><!-- End Notification Icon -->
                   </li>
                  {%endif%}            {% comment %} </a><!-- End Notification Icon --> {% endcomment %}
  
  
  
        </ul>
      </nav><!-- End Icons Navigation -->
    

  </header><!-- End Header -->
 
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <main id="" class="main mt-5">

              {% block body %}
              {% endblock %}
        
      </main><!-- End #main -->
  <!-- Vendor JS Files -->
  <script src="{% static 'dashboard/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'dashboard/vendor/chart.js/chart.umd.js' %}"></script>
  <script src="{% static 'dashboard/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'dashboard/vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'dashboard/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'dashboard/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'dashboard/vendor/php-email-form/validate.js' %}"></script>
  <!-- Template Main JS File -->
  <script src="{% static 'dashboard/js/main.js' %}"></script>

</body>

</html>