
  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="{% url 'accounts:pages:users:user_list'%}">
          <i class="bi bi-people"></i>
          <span>User</span>
        </a>
      </li><!-- End Dashboard Nav -->
      <li class="nav-item">
        <a class="nav-link " href="{% url 'players:team_list'%}">
          <i class="bi bi-people"></i>
          <span>Team</span>
        </a>
      </li><!-- End Dashboard Nav -->
      <li class="nav-item">
        <a class="nav-link " href="{% url 'players:players_list'%}">
          <i class="bi bi-people"></i>
          <span>Player</span>
        </a>
      </li><!-- End Dashboard Nav -->
      <li class="nav-item">
        <a class="nav-link " href="{% url 'players:userteam_list'%}">
          <i class="bi bi-people"></i>
          <span>User Team</span>
        </a>
      </li><!-- End Dashboard Nav -->
      <li class="nav-item">
        <a class="nav-link " href="{% url 'points:matchday_list'%}">
          <i class="bi bi-people"></i>
          <span>Match Day</span>
        </a>
      </li><!-- End Dashboard Nav -->
      <li class="nav-item">
        <a class="nav-link " href="{% url 'points:playerpoint_list'%}">
          <i class="bi bi-people"></i>
          <span>Player Point</span>
        </a>
      </li><!-- End Dashboard Nav -->
      <li class="nav-item">
        <a class="nav-link " href="{% url 'points:teamresult_list'%}">
          <i class="bi bi-people"></i>
          <span>Team Result</span>
        </a>
      </li><!-- End Dashboard Nav -->

      
    </ul>

  </aside><!-- End Sidebar-->
