{% extends "base.html" %}
{% block body %}
<a href="{% url 'players:player_create' %}" class="btn btn-sm btn-primary">
    <i class="fa fa-plus"></i>Create Player</a>
              <table class="table datatable">
                <thead>
                  <tr>
                    <th>
                      Player Name
                    </th>
                    <th>Team name</th>
                    <th>Price</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                    {% for players in player_list %}
                    
                    
                  <tr>
                    <td>{{players.name}}</td>
                    <td>{{players.team}}</td>
                    <td>{{players.price}}</td>
                    <td><form>
                      <a href="{% url 'players:player_delete' players.pk %}" class="btn btn-sm btn-primary" onclick="return confirmStatusChange()">
                        <i
                        class="fa fa-trash"></i>
                    &nbsp; Delete</a>
                        </a>
                    
                      <a href="{% url 'players:player_update' players.pk %}" class="btn btn-sm btn-primary"">
                        <i
                        class="fa fa-trash"></i>
                    &nbsp; Update</a>
                        </a> 
                       
                    </form></td>
                    
                  </tr>
                  {% endfor %}
                  
                </tbody>
              </table>
              <script>
                function confirmStatusChange() {
                  if (confirm('Are you sure you want to Delete?.Once done cannot be reverted.')) {
                      return true;  // Proceed with the link
                  }
                  return false;  // Cancel the link
              }
            </script>
{%endblock%}