{% extends "base.html" %}
{% block body %}
<a href="{% url 'players:team_create' %}" class="btn btn-sm btn-primary">
    <i class="fa fa-plus"></i>Create Player</a>
              <table class="table datatable">
                <thead>
                  <tr>
                    <th>
                      Name
                    </th>
                    <th>Description</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                    {% for team in team_list %}
                    
                    
                  <tr>
                    <td>{{team.name}}</td>
                    <td>{{team.description}}</td>
                    <td><form>
                      {% comment %} <a href="{% url 'players:team_delete' team.pk %}" class="btn btn-sm btn-primary" onclick="return confirmStatusChange()">
                        <i
                        class="fa fa-trash"></i>
                    &nbsp; Delete</a>
                        </a>
                       
                      <a href="{% url 'players:team_update' team.pk %}" class="btn btn-sm btn-primary"">
                        <i
                        class="fa fa-trash"></i>
                    &nbsp; Update</a>
                        </a> {% endcomment %}
                       
                    </form></td>
                    
                  </tr>
                  {% endfor %}
                  
                </tbody>
              </table>
              <script>
                function confirmStatusChange() {
                  if (confirm('Are you sure you want to Delete?.Once done cannot be reverted.')) {
                      return true;  // Proceed with the link
                  }
                  return false;  // Cancel the link
              }
            </script>
{%endblock%}