{% extends "home_base.html" %}
{% block pagetitle%}
Users
{%endblock%}

{%block button%}
<li class="nav-item dropdown">

<a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
    <button class="btn btn-sm" style="background-color:#4153F1; color:white;"><i class="bx   bx-home "></i> Home</button>
 </a><!-- End Notification Icon -->
</li>
<li class="nav-item dropdown">
    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
       <button class="btn btn-sm" style="background-color:#4153F1; color:white;">About Us</button>
    </a><!-- End Notification Icon -->
   </li>
   {% if not user.is_authenticated %}
   <li class="nav-item dropdown">
 <a class="nav-link nav-icon" href="{% url 'accounts:login' %}" data-bs-toggle="dropdown">
    <button class="btn btn-sm" id="login" style="background-color:#4153F1; color:white;"><i class="bx   bx-lock "></i> Login</button>
    <script type="text/javascript">
        document.getElementById("login").onclick = function () {
            location.href = "{% url 'accounts:login' %}";
        };
    </script>
 </a><!-- End Notification Icon -->
</li>
{%else %}

<li class="nav-item dropdown">
  <a class="nav-link nav-icon" href="{% url 'users:list' %}" data-bs-toggle="dropdown">
     <button class="btn btn-sm" id="team" style="background-color:#4153F1; color:white;"><i class="bx   bx-lock "></i> Team</button>
     <script type="text/javascript">
         document.getElementById("team").onclick = function () {
             location.href = "{% url 'users:list' %}";
         };
     </script>
  </a><!-- End Notification Icon -->
 </li>
{%endif%}
  {%endblock%}
{% block body %}
<main id="" class="" style="margin-top:100px;">
    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">
          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
              {% if user_profile.profile_picture %}
              <img src="{{ user_profile.profile_picture.url }}" alt="Profile" class="rounded-circle">
              {% endif %}
              <h2>{{user_profile.fullname}}</h2>
              <h3>{{user_profile.teamname}}</h3>
              
            </div>
          </div>

        </div>

        <div class="col-xl-8">
          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li>

                

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                 
                  <h5 class="card-title">Profile Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Full Name</div>
                    <div class="col-lg-9 col-md-8">{{user_profile.fullname}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Team Name</div>
                    <div class="col-lg-9 col-md-8">{{user_profile.teamname}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Gender</div>
                    <div class="col-lg-9 col-md-8">{{user_profile.gender}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                    <div class="col-lg-9 col-md-8">{{user_profile.user.email}}</div>
                  </div>

                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        {{ update_form.as_p }}
                        
                        <button class="btn btn-sm btn-primary" type="submit">Update Profile</button>
                    </form>

                </div>

                <div class="tab-pane fade pt-3" id="profile-change-password">
                    <form method="post">
                        {% csrf_token %}
                        {{ password_change_form.as_p }}
                        <button class="btn btn-sm btn-primary" type="submit">Change Password</button>
                    </form>

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main>
{% endblock %}